* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(248, 238, 225);
}
body header .general-header {
  display: flex;
  justify-content: space-between;
  padding: 8px 120px;
  background-color: rgb(92, 92, 92);
}
body header .general-header .header-content {
  color: rgb(252, 181, 0);
}
body header .logo-header {
  box-sizing: border-box;
  display: block;
  margin-top: -25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body header .navbar {
  margin-top: -100px;
  box-sizing: border-box;
  padding: 25px 100px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(243, 242, 242);
}
body header .navbar .divider {
  color: rgb(97, 97, 97);
}
body header .navbar a {
  text-decoration: none;
  padding: 0px 20px;
}
body header .navbar a:link {
  color: black;
}
body header .navbar a:visited {
  color: black;
}
body header .navbar a:hover {
  color: rgb(97, 97, 97);
}
body .main {
  display: flex;
}
body .product-main img {
  margin: 40px 150px;
}
body .product-info {
  padding: 40px 0px;
}
body .product-info a {
  text-decoration: none;
}
body .product-info a:link {
  color: rgb(168, 168, 168);
}
body .product-info a:visited {
  color: rgb(168, 168, 168);
}
body .product-info a:hover {
  color: black;
}
body .product-info .information {
  line-height: 1.6;
}
body .product-info .information h1 {
  color: #555;
  font-size: x-large;
  padding: 15px 0px;
  border-bottom: 5px solid rgb(231, 227, 227);
}
body .product-info .information .value {
  color: red;
  font-weight: bolder;
  font-size: x-large;
  padding: 10px 0px;
}
body .product-info .information p {
  color: #7a9c59;
}
body .product-info .number-button {
  display: flex;
}
body .product-info .button {
  background-color: #ffdd15;
  color: rgb(7, 7, 7);
  padding: 0px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
body .product-info .number {
  margin-top: 8px;
  padding: 0px 20px;
}
body .review {
  border-top: 1px solid rgb(216, 214, 214);
  padding: 15px 150px;
}
body .review a {
  text-decoration: none;
  color: #555;
}
body .review p {
  padding: 30px 0px;
  line-height: 1.8;
  color: #555;
}
body .review a:link {
  color: #555;
}
body .review a:visited {
  color: #555;
}
body .review a:hover {
  color: rgb(0, 0, 0);
}
body .more-option {
  border-top: 1px solid rgb(216, 214, 214);
}
body .more-option h1 {
  color: #555;
  padding: 20px 120px;
}
body .more-option .food {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  padding: 20px 120px;
  text-align: center;
}
body .more-option .food .small-box-1 {
  border: 1px solid gray;
  border-radius: 2px;
  padding: 4px 4px;
}
body .more-option .small-box-2 {
  border: 1px solid gray;
  border-radius: 2px;
  padding: 4px 4px;
}
body .more-option .small-box-3 {
  border: 1px solid gray;
  border-radius: 2px;
  padding: 4px 4px;
}
body .more-option .small-box-4 {
  border: 1px solid gray;
  border-radius: 2px;
  padding: 4px 4px;
}
body .more-option p {
  color: #555;
}
body .more-option .color {
  color: red;
  font-weight: bold;
}
body .more-option .name-food {
  font-weight: bold;
  color: white;
  font-weight: bold;
}
body .more-option button {
  border-radius: 10px;
  background-color: #ffdd15;
  border: none;
  color: rgb(0, 0, 0);
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
}
body footer {
  display: flex;
  background: rgb(46, 46, 46);
  padding: 20px 0px;
}
body footer .text-box-1 {
  color: white;
  padding-top: 40px;
}
body footer .text-box-1 p {
  margin-left: 200px;
}
body footer .text-box-2 {
  margin-left: 70px;
  color: white;
  padding-top: 40px;
}
body footer .text-box-2 .text-border {
  border-bottom: 1px solid gray;
}
body footer .text-box-2 p {
  margin: 0px 0px;
}
body footer .text-box-2 .last-text-box {
  padding-top: 50px;
}
body footer img {
  margin: 35px 300px;
}/*# sourceMappingURL=dish-detail-style.css.map */