* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Arial, Helvetica, sans-serif;
}
body {
  header {
    .general-header {
      display: flex;
      justify-content: space-between;
      padding: 8px 120px;
      background-color: rgb(92, 92, 92);

      .header-content {
        color: rgb(252, 181, 0);
      }
    }
    .logo-header {
      box-sizing: border-box;
      display: block;
      margin-top: -25px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .navbar {
      margin-top: -100px;
      box-sizing: border-box;
      padding: 25px 100px;
      display: flex;
      justify-content: space-between;
      background-color: rgb(243, 242, 242);

      a {
        text-decoration: none;
        padding: 0px 20px;
      }
      a:link {
        color: black;
      }
  
      a:visited {
        color: black;
      }
  
      a:hover {
        color: rgb(97, 97, 97);
      }
    }
  }
  .banner {
    img {
      position: relative;
      z-index: -1;
      filter: brightness(40%);
      padding-bottom: 27px;
    }
    .circle{
      position: absolute;
      width: 15px;
      height: 15px;
      background: #ffffff;
      top: 85%;
      left: 49.3%;
      border-radius: 50%;

    }
    .text-in-banner {
      position: absolute;
      text-align: center;
      color: white;
      margin-left: 15%;
      margin-right: 15%;
      top: 0;
      padding-top: 22%;

      .extra-text {
        font-size: 18px;
        line-height: 27px;
        margin-top: 20px;
      }
    }
  }
  .food-images-test {
    display: flex;
    gap: 2.5%;
    padding: 0 80px;

    align-items: stretch;

    img {
      width: 100%;
    }

    .left-1 {
      flex: 49;

      img {
        height: 100%;
        object-fit: cover;
      }
    }

    .right-1 {
      flex: 51;

      display: flex;
      flex-direction: column;

      .top-2 {
        flex: 1;

        display: flex;
        gap: 5%;

        .left-3 {
          flex: 1;
        }

        .right-3 {
          flex: 1;
        }
      }

      .bottom-2 {
        flex: 1;

        display: flex;
        align-items: flex-end;
      }
    }
  }
  .main-menu {
   display:flex;
    padding: 60px 80px;
    .list {
      box-sizing: border-box;
      a {
        text-decoration: none;
      }
      li {
        list-style: none;
      }
      line-height: 3;
      a:link {
        color: black;
      }
      a:visited {
        color: black;
      }
      a:hover {
        color: rgb(97, 97, 97);
      }
    }
    .rice-food {
      position: relative;
      display: flex;
      justify-content: space-between;
      a{
        text-decoration: none;
      }
      button {
        border-radius: 10px;
        background-color: #ffdd15;
        border: none;
        color: rgb(0, 0, 0);
        padding: 10px 50px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        opacity: 0.8;
        cursor: pointer;
      }
      button:hover {
        opacity: 1;
      }
      .small-box-1 {
        box-sizing: border-box;
        text-align: center;
        padding: 16px 16px;
      }
      .small-box-2 {
        box-sizing: border-box;
        text-align: center;
        background-color: #bf162e;
        padding: 10px 10px;
        margin-top: -40px;
        border-radius: 2px;
      }
      .small-box-3 {
        box-sizing: border-box;
        text-align: center;
        padding: 10px 10px;
      }
      p {
        line-height: 1.6;
        text-align: left;
        margin-left: 22px;
      }
      .color {
        color: red;
        font-weight: bold;
      }
      .color-yellow {
        color: yellow;
      }
      .name-food {
        font-weight: bold;
      }
      .name-foods {
        color: white;
        font-weight: bold;
      }
      .text-introduce {
        color: white;
      }
    }
  }
  .pizza-food {
    padding: 20px 120px;
    text-align: center;

    .pizza {
      box-sizing: border-box;
      display: flex;
      justify-content: space-around;
      padding-top: 50px;
      .small-box-1 {
        border: 1px solid gray;
        border-radius: 2px;
        padding: 4px 4px;
      }
    }
    .small-box-2 {
      border: 1px solid gray;
      border-radius: 2px;
      padding: 4px 4px;
    }
    .small-box-3 {
      border: 1px solid gray;
      border-radius: 2px;
      padding: 4px 4px;
    }
    .small-box-4 {
      border: 1px solid gray;
      border-radius: 2px;
      padding: 4px 4px;
    }
  }
  .pizza-content {
    text-align: center;
    align-content: center;
    h1 {
      color: #e67e22;
    }
  }

  p {
    line-height: 1.6;
    text-align: left;
    margin-left: 22px;
  }
  .color {
    color: red;
    font-weight: bold;
  }
  .color-yellow {
    color: yellow;
  }
  .name-food {
    font-weight: bold;
    color: white;
    font-weight: bold;
  }
  .text-introduce {
    color: white;
  }
  button {
    border-radius: 10px;
    background-color: #ffdd15;
    border: none;
    color: rgb(0, 0, 0);
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
  }

  .chicken-food {
    padding: 80px 120px;
    text-align: center;

    .chicken {
      box-sizing: border-box;
      display: flex;
      justify-content: space-around;
      padding-top: 50px;
      .small-box-1 {
        border: 1px solid gray;
        border-radius: 2px;
        padding: 4px 4px;
      }
    }
    .small-box-2 {
      border: 1px solid gray;
      border-radius: 2px;
      padding: 4px 4px;
    }
    .small-box-3 {
      border: 1px solid gray;
      border-radius: 2px;
      padding: 4px 4px;
    }
    .small-box-4 {
      border: 1px solid gray;
      border-radius: 2px;
      padding: 4px 4px;
    }
  }
  .chicken-content {
    text-align: center;
    align-content: center;
    h1 {
      color: #e67e22;
    }
    p {
      line-height: 1.6;
      text-align: left;
      margin-left: 22px;
    }
    .color {
      color: red;
      font-weight: bold;
    }
    .color-yellow {
      color: yellow;
    }
    .name-food {
      font-weight: bold;
    }
    .name-foods {
      color: white;
      font-weight: bold;
    }
    .text-introduce {
      color: white;
    }
    button {
      border-radius: 10px;
      background-color: #ffdd15;
      border: none;
      color: rgb(0, 0, 0);
      padding: 8px 20px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      margin-top: 20px;
    }
  }
  .address{
    h1{
      color:#e67e22;
      font-size: xx-large;
      text-align: center;
    }
    .information{
      display: flex;
    }
    details{
      margin: 50px 0px;
    }
    img{
      margin: 30px 150px;
    }
  }
  footer{
    display: flex;
    background: rgb(46, 46, 46);
    padding: 20px 0px;
    .text-box-1{
      color:white;
      padding-top: 40px;
      p{
        margin-left: 200px;
      }
    }
    .text-box-2{
      margin-left: 70px;
      color: white;
      padding-top: 40px;
      .text-border{
        border-bottom: 1px solid gray;
      }
      p{
       margin: 0px 0px;
      }
      .last-text-box{
        padding-top: 50px;
      }
    }
    img{
      margin: 35px 300px;
    }
  }
  
  
}
