* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body header .general-header {
  display: flex;
  justify-content: space-between;
  padding: 8px 120px;
  background-color: rgb(92, 92, 92);
}
body header .general-header .header-content {
  color: rgb(252, 181, 0);
}
body header .logo-header {
  box-sizing: border-box;
  display: block;
  margin-top: -25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body header .navbar {
  margin-top: -100px;
  box-sizing: border-box;
  padding: 25px 100px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(243, 242, 242);
}
body header .navbar a {
  text-decoration: none;
  padding: 0px 20px;
}
body header a:link {
  color: black;
}
body header a:visited {
  color: black;
}
body header a:hover {
  color: rgb(97, 97, 97);
}
body .banner img {
  position: relative;
  z-index: -1;
  filter: brightness(40%);
  padding-bottom: 27px;
}
body .banner .circle {
  position: absolute;
  width: 15px;
  height: 15px;
  background: #ffffff;
  top: 85%;
  left: 49.3%;
  border-radius: 50%;
}
body .banner .text-in-banner {
  position: absolute;
  text-align: center;
  color: white;
  margin-left: 15%;
  margin-right: 15%;
  top: 0;
  padding-top: 22%;
}
body .banner .text-in-banner .extra-text {
  font-size: 18px;
  line-height: 27px;
  margin-top: 20px;
}
body .food-images-test {
  display: flex;
  gap: 2.5%;
  padding: 0 80px;
  align-items: stretch;
}
body .food-images-test img {
  width: 100%;
}
body .food-images-test .left-1 {
  flex: 49;
}
body .food-images-test .left-1 img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body .food-images-test .right-1 {
  flex: 51;
  display: flex;
  flex-direction: column;
}
body .food-images-test .right-1 .top-2 {
  flex: 1;
  display: flex;
  gap: 5%;
}
body .food-images-test .right-1 .top-2 .left-3 {
  flex: 1;
}
body .food-images-test .right-1 .top-2 .right-3 {
  flex: 1;
}
body .food-images-test .right-1 .bottom-2 {
  flex: 1;
  display: flex;
  align-items: flex-end;
}
body .main-menu {
  padding: 80px 80px;
}
body .main-menu .list {
  box-sizing: border-box;
  display: block;
  line-height: 3;
}
body .main-menu .list a {
  text-decoration: none;
}
body .main-menu .list li {
  list-style: none;
}
body .main-menu .list a:link {
  color: black;
}
body .main-menu .list a:visited {
  color: black;
}
body .main-menu .list a:hover {
  color: rgb(97, 97, 97);
}
body .main-menu .rice-food {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: -344px;
  padding-left: 320px;
}
body .main-menu .rice-food button {
  border-radius: 10px;
  background-color: #ffdd15;
  border: none;
  color: rgb(0, 0, 0);
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  opacity: 0.8;
  cursor: pointer;
}
body .main-menu .rice-food button:hover {
  opacity: 1;
}
body .main-menu .rice-food .small-box-1 {
  box-sizing: border-box;
  text-align: center;
  padding: 16px 16px;
}
body .main-menu .rice-food .small-box-2 {
  box-sizing: border-box;
  text-align: center;
  background-color: #bf162e;
  padding: 10px 10px;
  margin-top: -40px;
  border-radius: 2px;
}
body .main-menu .rice-food .small-box-3 {
  box-sizing: border-box;
  text-align: center;
  padding: 10px 10px;
}
body .main-menu .rice-food p {
  line-height: 1.6;
  text-align: left;
  margin-left: 22px;
}
body .main-menu .rice-food .color {
  color: red;
  font-weight: bold;
}
body .main-menu .rice-food .color-yellow {
  color: yellow;
}
body .main-menu .rice-food .name-food {
  font-weight: bold;
}
body .main-menu .rice-food .name-foods {
  color: white;
  font-weight: bold;
}
body .main-menu .rice-food .text-introduce {
  color: white;
}
body .pizza-food {
  padding: 20px 120px;
  text-align: center;
}
body .pizza-food .pizza {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}
body .pizza-food .pizza .small-box-1 {
  border: 1px solid gray;
  border-radius: 2px;
  padding: 4px 4px;
}
body .pizza-food .small-box-2 {
  border: 1px solid gray;
  border-radius: 2px;
  padding: 4px 4px;
}
body .pizza-food .small-box-3 {
  border: 1px solid gray;
  border-radius: 2px;
  padding: 4px 4px;
}
body .pizza-food .small-box-4 {
  border: 1px solid gray;
  border-radius: 2px;
  padding: 4px 4px;
}
body .pizza-content {
  text-align: center;
  align-content: center;
}
body .pizza-content h1 {
  color: #e67e22;
}
body p {
  line-height: 1.6;
  text-align: left;
  margin-left: 22px;
}
body .color {
  color: red;
  font-weight: bold;
}
body .color-yellow {
  color: yellow;
}
body .name-food {
  font-weight: bold;
}
body .name-foods {
  color: white;
  font-weight: bold;
}
body .text-introduce {
  color: white;
}
body button {
  border-radius: 10px;
  background-color: #ffdd15;
  border: none;
  color: rgb(0, 0, 0);
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
}
body .chicken-food {
  padding: 80px 120px;
  text-align: center;
}
body .chicken-food .chicken {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}
body .chicken-food .chicken .small-box-1 {
  border: 1px solid gray;
  border-radius: 2px;
  padding: 4px 4px;
}
body .chicken-food .small-box-2 {
  border: 1px solid gray;
  border-radius: 2px;
  padding: 4px 4px;
}
body .chicken-food .small-box-3 {
  border: 1px solid gray;
  border-radius: 2px;
  padding: 4px 4px;
}
body .chicken-food .small-box-4 {
  border: 1px solid gray;
  border-radius: 2px;
  padding: 4px 4px;
}
body .chicken-content {
  text-align: center;
  align-content: center;
}
body .chicken-content h1 {
  color: #e67e22;
}
body .chicken-content p {
  line-height: 1.6;
  text-align: left;
  margin-left: 22px;
}
body .chicken-content .color {
  color: red;
  font-weight: bold;
}
body .chicken-content .color-yellow {
  color: yellow;
}
body .chicken-content .name-food {
  font-weight: bold;
}
body .chicken-content .name-foods {
  color: white;
  font-weight: bold;
}
body .chicken-content .text-introduce {
  color: white;
}
body .chicken-content button {
  border-radius: 10px;
  background-color: #ffdd15;
  border: none;
  color: rgb(0, 0, 0);
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
}
body .address h1 {
  color: #e67e22;
  font-size: xx-large;
  text-align: center;
}
body .address .information {
  display: flex;
}
body .address details {
  margin: 50px 0px;
}
body .address img {
  margin: 30px 150px;
}
body footer {
  display: flex;
  background: rgb(46, 46, 46);
  padding: 20px 0px;
}
body footer .text-box-1 {
  color: white;
  padding-top: 40px;
}
body footer .text-box-1 p {
  margin-left: 200px;
}
body footer .text-box-2 {
  margin-left: 70px;
  color: white;
  padding-top: 40px;
}
body footer .text-box-2 .text-border {
  border-bottom: 1px solid gray;
}
body footer .text-box-2 p {
  margin: 0px 0px;
}
body footer .text-box-2 .last-text-box {
  padding-top: 50px;
}
body footer img {
  margin: 35px 300px;
}/*# sourceMappingURL=style.css.map */